@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a{
  font-size: 15px;
  background-color: transparent;
  border: 0.5px white solid;
  padding: 2px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  color: white;
}a:hover{ 
  background-color: #ff0000;
  letter-spacing: 2px;
}

.container1{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2%;
  margin-top: -10px;
}

.clear{
  clear: both;

}

.left{
float: left;
}

.right{
float: right;
}
/* 
header */
header{
  background-color: black;
}
header .container1{ 
  padding: 30px 20%;
  

}
.logo h2{
  color: #ffbd59;
  cursor: pointer;
  
}
header .menu{ 
margin-left: 60px;
}
header .menu ul{
list-style-type: none;
}
header .menu ul li{
display: inline-block;
cursor: pointer;
font-size: 13px;
padding: 4px;

}


header .menu ul li a{
color: white;
text-decoration: none;
}
.btn-logout{ 
  color: white;
}
header .menu ul li input[type="text"]{
  width: 100px;
  padding: 4px 2%;
  border-radius: 4px;
   margin-right: 5px;
  }
  header .menu ul li i{
 
    width: 20px;
    font-size: 13px;
    }
.banner{ 
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
 background-image: url(banner-dash.webp);
 border-bottom: black solid 2px;

}

.banner img {
  display: flex;
padding: 0;
  font-size: 36px;

}

.banner .container span {
  font-weight: 800;
}



section.box-captura{

  background-color: black;
}


section.box-captura .wrapper-captura{
padding: 2% 5%;
text-align: center;
  
  }

section.box-captura .box-single-chamada{
width: 33.3%;
float: left;
margin-left: 100px;
}
section.box-captura .box-single-chamada h3{
 font-size: 20px;
 color: white;

  }

section.box-captura .box-single-captura{

  width: 33.3%;
  float: left;
  
}
section.box-captura .box-single-captura input{

  width: 100%;
  padding: 7px;
  border-radius: 4px;
  outline: 0;
  border: 0.3px solid rgb(225,225,225);
  
}
section.box-captura .box-single-captura button{
  margin-top: 8px;
  background-color: transparent;
  border: 2px white solid;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  color: white;
}
section.box-captura .box-single-captura button:hover{
  background-color: #b4b4b4;
  letter-spacing: 2px;
}
section.box-captura .box-single-captura p{
  font-size: 10px;
  color: white;
  text-align: left;
  margin-top: 4px;
  
}
#mostrar{
  display: none;
}
#mostrar1{
  display: none;
}
#mostrar2{
  display: none;
}
#mostrar3{ 
  display: none;
}#mostrar4{ 
  display: none;
}
#btn1{

  background-color: transparent;
  border: 2px black solid;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  color: black;

}
#btn1:hover{ 
  background-color: #b4b4b4;
 
}
#btn2{

  background-color: transparent;
  border: 2px black solid;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  color: black;

}
#btn2:hover{ 
  background-color: #b4b4b4;

}
#btn3{

  background-color: transparent;
  border: 2px black solid;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  color: black;

}
#btn3:hover{ 
  background-color: #b4b4b4;

}
#btn4{

  background-color: transparent;
  border: 2px black solid;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  color: black;

}
#btn4:hover{ 
  background-color: #b4b4b4;

}


section.content{
  padding: 0.12%;
  background-color: white;
}
.content img{ 
  width: 250px;
  height: 250px;
  box-shadow: 5px 2px 2px #b4b4b4;

}

.content a{
  font-size: 15px;
  background-color: transparent;
  border: 0.5px black solid;
  padding: 2px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  color: black;
}
.content a:hover{ 
  background-color: #b4b4b4;
  letter-spacing: 2px;
}

.footer {
  background-color: black;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
  
}
#fotoI{
  width: 250px;
  height: 250px;
}
.footer .container {
  justify-content: center;
  align-items: center;

}